airtable-workflows/airtable-slack-lead-notification.json
{
  "name": "Airtable-Slack Lead Notification",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "eb50a33e-f87a-4c68-afba-9e8978dbf9be",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appV34xPnSlRP7fFZ",
          "mode": "list",
          "cachedResultName": "n8n Test Base",
          "cachedResultUrl": "https://airtable.com/appV34xPnSlRP7fFZ"
        },
        "table": {
          "__rl": true,
          "value": "tblpkNwZa4TJ5ZHhA",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appV34xPnSlRP7fFZ/tblpkNwZa4TJ5ZHhA"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "c68f6cfa-b522-47e1-83a4-9bc6105f625c",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "NCPpAGFHAWe86IEz",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "leads",
          "mode": "name"
        },
        "text": "=New lead: {{ $json.fields.Name }} ({{ $json.fields.Email }})",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        576,
        -112
      ],
      "id": "bcf3afd4-e61b-4689-b854-3a6d5e857168",
      "name": "Send a message",
      "webhookId": "c39d11d4-d649-42f3-bac2-8ed95896f1a3",
      "credentials": {
        "slackApi": {
          "id": "sNLB7yLWH8fERLmU",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appV34xPnSlRP7fFZ",
          "mode": "list",
          "cachedResultName": "n8n Test Base",
          "cachedResultUrl": "https://airtable.com/appV34xPnSlRP7fFZ"
        },
        "table": {
          "__rl": true,
          "value": "tblpkNwZa4TJ5ZHhA",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appV34xPnSlRP7fFZ/tblpkNwZa4TJ5ZHhA"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Contacted",
            "id": "={{ $('Search records').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Closed",
                  "value": "Closed"
                },
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Contacted",
                  "value": "Contacted"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        720,
        -112
      ],
      "id": "567c827a-b22c-4834-aed5-b35263cbf093",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "NCPpAGFHAWe86IEz",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "944381b9-696f-4c55-a339-531bcbba1a5d",
              "name": " Status_Logged",
              "value": "Lost - No Action Needed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        32
      ],
      "id": "d4615712-0996-4070-ae3d-764521ada109",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fields.Status }}",
                    "rightValue": "New",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "36e04800-28c7-4e60-9837-55accb224923"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "88511f3d-a192-458c-97a8-ee0f712b4ff2",
                    "leftValue": "={{ $json.fields.Status }}",
                    "rightValue": "Lost",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Lost"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3969d4bc-3e0c-4534-8101-504e721c1b92",
                    "leftValue": "={{ $json.fields.Status }}",
                    "rightValue": "Contacted",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Contacted"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "df381a53-28b2-41eb-9910-2f815e83fcc8",
                    "leftValue": "={{ $json.fields.Status }}",
                    "rightValue": "Qualified",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Qualified"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        384,
        0
      ],
      "id": "4f4c89b6-799c-4ccc-a50d-ec75aaf0de97",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "maosho677@gmail.com",
        "subject": "=Qualified Lead: {{ $json.fields.Name }}",
        "message": "=New qualified lead details:  Name: {{ $json.fields.Name }} Email: {{ $json.fields.Email }} Status: {{ $json.fields.Status }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        192
      ],
      "id": "372a64e4-9d9f-4a03-8d24-b534213a493a",
      "name": "Send a message1",
      "webhookId": "d77e85b0-12fc-4d1b-9068-1d07a5351777",
      "credentials": {
        "gmailOAuth2": {
          "id": "07NweeIScYroK5pW",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ae3c3308-9313-4c20-a8fa-198cfea5e8e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a998e841bdc587a956e1e5630a6c4b95adc8cf632ead0097ad1d2ababcc6c3c"
  },
  "nodeGroups": [],
  "id": "W9sodtkS9PqrJAJv",
  "tags": []
}
