airtable-workflows/bulk-lead-email-campaign-workflow.json
{
  "name": "bulk-lead-email-campaign-workflow.json",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        -48
      ],
      "id": "e94b62c3-2e30-415f-9bec-565bff10fba7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appV34xPnSlRP7fFZ",
          "mode": "list",
          "cachedResultName": "n8n Test Base",
          "cachedResultUrl": "https://airtable.com/appV34xPnSlRP7fFZ"
        },
        "table": {
          "__rl": true,
          "value": "tblpkNwZa4TJ5ZHhA",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appV34xPnSlRP7fFZ/tblpkNwZa4TJ5ZHhA"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -48,
        -64
      ],
      "id": "bb551a7c-4d9f-4a65-99ce-0e945a5df7c5",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "NCPpAGFHAWe86IEz",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        192,
        -96
      ],
      "id": "0b74307f-8969-4f7a-8a4f-7b009ab96f57",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.fields.Email }}",
        "subject": "test subject",
        "message": "test content",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        64
      ],
      "id": "4bb7d14f-e147-43eb-8fcd-127dfd983549",
      "name": "Send a message",
      "webhookId": "8be58f89-bcc7-47ce-a605-b394b791752f",
      "credentials": {
        "gmailOAuth2": {
          "id": "07NweeIScYroK5pW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "leads",
          "mode": "name"
        },
        "text": "All leads emailed successfully.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        400,
        -192
      ],
      "id": "8ce226c3-7377-4e7e-8abd-da7535a72e36",
      "name": "Send a message1",
      "webhookId": "623083a6-ce7d-4fb5-be3a-90639e1e0077",
      "credentials": {
        "slackApi": {
          "id": "sNLB7yLWH8fERLmU",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6b0423ba-ab03-4b50-9b78-9621e355754b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a998e841bdc587a956e1e5630a6c4b95adc8cf632ead0097ad1d2ababcc6c3c"
  },
  "nodeGroups": [],
  "id": "6NeZTf7LHM1nSB26",
  "tags": []
}