airtable-workflows/whatsapp-batch-sender-workflow.json
{
  "name": "whatsapp-batch-sender-workflow.json",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8ed60254-ff79-4b6b-8b3a-4caa79de6573",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appV34xPnSlRP7fFZ",
          "mode": "list",
          "cachedResultName": "n8n Test Base",
          "cachedResultUrl": "https://airtable.com/appV34xPnSlRP7fFZ"
        },
        "table": {
          "__rl": true,
          "value": "tblpkNwZa4TJ5ZHhA",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appV34xPnSlRP7fFZ/tblpkNwZa4TJ5ZHhA"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "6213e707-9f6b-419b-b65f-89400fb16e0b",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "NCPpAGFHAWe86IEz",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "9c9bac0b-d8f4-4fc5-9180-9a97a6ac82ce",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61564782-00b5-4c52-873d-9678cc916d3c",
              "name": "status_check",
              "value": "={{ $json.fields.Name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        208
      ],
      "id": "2c58c4cc-df65-46cb-94d0-226bdbdcf022",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "642e3cf7-b2d1-4392-b645-27350db1a368",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a998e841bdc587a956e1e5630a6c4b95adc8cf632ead0097ad1d2ababcc6c3c"
  },
  "nodeGroups": [],
  "id": "Q5fnDZ1Z8EAtrsUm",
  "tags": []
}